.container {
  width: 100%;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.subtitle h2{
  margin: 0;
  padding: 0;
}


table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
